@import './variables.scss';
.pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 5vh;
}

.mid{
  text-align: center;
}
.side { 
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border: 2px solid $secondary;
    border-radius: 50%;
    width: 150px;
    margin-bottom: 0;
    background-color: $tertiary;
    margin: 2vh 10px 0px 10px;
  }

}